<div class="login">
    <h2 class="login-header">New Subject</h2>
    <form [formGroup]="subjectForm" class="login-container" (ngSubmit)="submitSubject()">
      <input type="name" placeholder="Name*" formControlName="name" />
      <ng-container
        *ngIf="!formControls.name.valid &&formControls.name.touched"
      >
        <p *ngIf="formControls.name.errors.required">
          Name is required
        </p>
      </ng-container>
  
      <p>
        <input type="submit" value="Submit" [disabled]="subjectForm.invalid" />
      </p>
    </form>
  </div>